* {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.prod {
  display: flex;
  max-width: 300px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 12px;
}

.prod-info, .img-container {
  width: 50%;
}

.img-container { 
  padding: 2rem 1rem 0 2rem;
}

p.price {
  margin-top: 12px;
  text-align: right;
  font-weight: bold;
  color: white;
  background: #999;
  padding: 6px;
}

#products-list {
  display: flex;
  flex-wrap: wrap;
}

footer {
  border-top: 1px solid #999;
  text-align: center;
  padding-top: 22px;
}