<main>
  <section class="container">
    <h1>Best prices in town </h1>
    {{#if details}}
      <p>
        {{details}}
      </p>
    {{else}}
      <p>
        <i>Missing content goes here</i>
      </p>
    {{/if}}
    <div id="products-list"></div>
  </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/productsListSocket.js"></script>