<section class="container">
  <h3>Register</h3>
  
  <form class="w-50">
    <div class="mb-3">
      <label for="first-name" class="form-label">First Name *</label>
      <input type="text" class="form-control" id="first-name" aria-describedby="first-name">
    </div>
    <div class="mb-3">
      <label for="last-name" class="form-label">Last Name *</label>
      <input type="text" class="form-control" id="last-name" aria-describedby="last-name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-Mail *</label>
      <input type="email" class="form-control" id="email" aria-describedby="email">
    </div>
    
    <div class="mb-3">
      <label for="image" class="form-label">Image *</label>
      <input type="text" class="form-control" id="image" aria-describedby="image">
    </div>
    
    <p> (*)All fields required </p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div id="products-list">

  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/register.js"></script>