<section class="container">
  <h3>Register</h3>
  
  <form class="w-50">
    <div class="mb-3">
      <label for="name" class="form-label">Name *</label>
      <input type="text" class="form-control" id="name" aria-describedby="name">
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image *</label>
      <input type="text" class="form-control" id="image" aria-describedby="image">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Image *</label>
      <input type="email" class="form-control" id="email" aria-describedby="email">
    </div>
    <p> (*)All fields required </p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div id="products-list">

  </div>
</section>

{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="/productsListSocket.js"></script> --}}