<h1>Products</h1>
{{!-- <div class="container products-container">
	{{#each products}}
		<div class="prod">
			<div class="prod-info">
				<h3>{{this.title}}</h3>
				<p>{{this.description}}</p>
				</div>
				<div class="img-container">
				<img src={{this.image}} alt="">
				<p class="price">U$S {{this.price}}</p>
			</div>
		</div>
	{{/each}}
</div> --}}
 <div id="products-list">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/productsListSocket.js"></script>